# Dependency directories
node_modules/
Frontend/node_modules/
Backend/node_modules/


# Build outputs
Frontend/dist/
dist/

# OS/System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.log
